<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::site-head">
    <title th:text="${post.title}">View Post</title>
</head>
<header th:replace="layout::site-header"/>

<body>

<section class="box post-list">
    <article  class="post" th:each="p : ${post}">
        <header class="post-header">
            <h2>
                <i th:text="${p.title}"></i>
                <time>
                    <small th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">01-May-2018</small>
                </time>
            </h2>
        </header>

        <div class="post-content">
            <p th:text="${p.body}">No teaser avaible</p>
        </div>

        <div class="footer post-footer">
            <button class="backBtn" onclick="window.history.back()">Go Back</button>
        </div>

    </article>
</section>
<footer th:replace="layout::site-footer" />

</body>
</html>